.exchanger_container{
    display: inline-block;
    margin: 20px;
    margin-left: 140px;
}

@media only screen and (max-width: 600px) {
    .exchanger_container{
        display: inline-block;
        margin: 20px;
        margin-left: 100px;
    }
    .exchanger_text_content{
        display: table;
        justify-content: center;
        margin-top: 5px;
        margin-left: 20px !important;
        text-align: center;
        margin-bottom: 20px;
    }
    .exchanger_title_page{
        justify-content: center;
        font-size: xxx-large;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media only screen and (max-width: 500px) {
    .exchanger_container{
        display: inline-block;
        margin: 20px;
        margin-left: 61px !important;
    }
    .exchanger_text_content{
        display: table;
        justify-content: center;
        margin-top: 5px;
        margin-left: 20px !important;
        text-align: center;
        margin-bottom: 20px;
    }
    .exchanger_title_page{
        justify-content: center;
        margin-left: -10px;
        font-size: xxx-large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .desc{
        margin-left: -15px !important;
    }
}


.exchanger_row{
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.exchanger_content{
    justify-content: center;
}

.exchanger_name{
    color: black;
}

/* exchanger-components */
.exchanger_title_page{
    justify-content: center;
    font-size: xxx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.exchanger_text_content{
    display: table;
    justify-content: center;
    margin-top: 50px;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 30px;
}

